body{
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}

.barra{
    display: flex;
    align-items: flex-start;
    top: 0;
    align-items: center;
    position: sticky ;
    width: 100vw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    font-family: Helvetica;
    text-align: center;
    font-weight: 600;
    font-size: 1.2vw;
    color: white;
    box-shadow: 0px 10px 10px rgb(170, 170, 170);

    #logo{
        img{
            position: relative;
            height: 50px;
            width: 50px;
            left: 1vw;
            cursor: pointer;
        }


    }

    #inicio{
        position: relative;
        padding: 1vw;
        margin: 1.5vw;
        background-color: black;
        border-radius: 20% 20% 20% 20% / 35% 35% 35% 35%;
        cursor: pointer;
    }

    .texto{
        position: relative;
        color: black;
        margin: 1vw;
        cursor: pointer;
    }

    #busqueda{
        color: rgb(139, 139, 139);
        display:flex;
        background-color: rgb(223, 223, 223);
        width:65vw;
        height: 5vh;
        border-radius: 2% 2% 2% 2% / 30% 30% 30% 30%;
        margin: 1vw;
        text-align: left;
        align-items: center;
        img{
            margin: 2vw;
            position: relative;
            height: 20px;
            cursor: pointer;
        }
    }

    #campanita{
        img{
            position: relative;
            cursor: pointer;
        }
    }

    #comment{
        margin: 1vw;
        img{
            position: relative;
            cursor: pointer;
        }
    }
}

.container{
    width: 90vw;
    margin: 20px auto;
    columns: 6;
    column-gap: 20px;

    .box{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width:100%;
        margin: 0 0 20px;
        padding: 10px;
        overflow: hidden;
        break-inside: avoid;

        img{
            max-width: 100%;
            border-radius: 5% 5% 5% 5% / 5% 5% 5% 5%;
            cursor: zoom-in;
        }
    }
}

@media (max-width: 1200px){
    .container{
        columns:4;
        width: calc(100%-40px);
        box-sizing: border-box;
        padding:20px 20px 20px 0;
    }
}

@media (max-width: 768px){
    .barra{
        display: flex;
        align-items: flex-start;
        top: 0;
        align-items: center;
        position: sticky ;
        width: 100vw;
        height: 10vh;
        background-color: rgb(255, 255, 255);
        font-family: Helvetica;
        text-align: center;
        font-weight: 600;
        font-size: 2.8vw;
        color: white;
        box-shadow: 0px 10px 10px rgb(170, 170, 170);
    
        #logo{
            img{
                position: relative;
                height: 50px;
                width: 50px;
                left: 1vw;
            }
    
    
        }
    
        #inicio{
            position: relative;
            padding: 1.5vw;
            margin: 1.5vw;
            background-color: black;
            border-radius: 20% 20% 20% 20% / 35% 35% 35% 35%;
        }
    
        .texto{
            display: none;
        }
    
        #busqueda{
            color: rgb(139, 139, 139);
            display:flex;
            background-color: rgb(223, 223, 223);
            width:65vw;
            height: 5vh;
            border-radius: 2% 2% 2% 2% / 30% 30% 30% 30%;
            margin: 1vw;
            text-align: left;
            align-items: center;
            img{
                margin: 2vw;
                position: relative;
                height: 15px;
    
            }
        }
    
        #campanita{
            img{
                position: relative;
                height: 80%;
                width: 80%;
            }
        }
    
        #comment{
            margin: 1vw;
            img{
                position: relative;
                height: 80%;
                width: 80%;
            }
        }
    }

    .container{
        columns:3;
        
    }

}

@media (max-width: 480px){
    .container{
        columns:2;
    }
}